// ---------------------------list--------------------------
.shuru{
    width:500px;
    // position: absolute;
    // right: 20px;
    
    margin-bottom: 20px;
}
/* .ulxr{
    position: absolute;
    top:200px;
}
 */

.rem{  
    color:#F81D22;
    margin-left: 5px;
}
.rem:hover{
    color:#F81D22;
}

// ---------------------------app------------------------------
.addxuanr{
    padding-top: 50px;
}