html,body{
  height: 100%;
  background-color: #fff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sub-title {
  color: #888;
  font-size: 14px;
  padding: 15px 0 9px 15px;
}
.not-square-grid .am-grid-icon {
  width: 40px;
  height: 60px;
}
.am-navbar{
  position: fixed;
  top: 0;
    width: 100%;
    z-index: 1000;

}
.am-tab-bar{
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 50px; */
}
.am-tab-bar-tab{
  font-size: 1.3rem;
}
.am-grid-item-content{
  font-size: 1.7rem;
  
}
.am-grid-item-content:nth-child{
  color: #61dafb;
}
.silder{
  width: 100%;
  height: 130px;
  line-height: 130px;
  background: url('./img/bg_2.jpeg');
  background-size: 100%;
  color: #FA8258;
}
.am-card-header .am-card-header-content{
  color:#FF0000;
  font-size: 1rem;
}
.am-list-item{
  border-bottom: 1px solid #F2F2F2;
}
