.denglu{
    display: flex;
    justify-content: center;
    height:665px;
    width: 100%;
    background: url('../img/dingding.jpg') no-repeat;
    background-size: cover;  
}
.dl{
    width:80%;
    padding-top: 200px;
}
.lgbtn{
    border-radius: 10px;
    font-size: 20px;
    height:60px;
    line-height: 60px;
    margin-top: 50px;
}
.wangj{
    padding-top: 15px;
    font-size: 12px;
    color:rgba(0,0,0,0.5);
}