html,body{
    height:100%;
    background-color: #fff;
}
.zpheader{
    // background-color: #fff;
    color: #000;
    
    font-weight: bold;
}
.am-navbar-title{
    font-size:20px;
}
.am-tabs-default-bar-content{
    margin-top: 50px;
    height:50px;
    // margin-bottom: 15px;
    // background-color: aqua;
    // border-bottom: 20px solid #F7F7F7;
   
}
.am-search {
    border-bottom: 1px solid #ddd;
  }
  .sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
  }
.kong{
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    height:100%;
}
.am-list{
    width:100%;
}
.am-list-header{
    font-size: 18px;
    color: #000;
}
.am-textarea-control textarea{
    color: #ccc;
    line-height: 20px;
}
.am-list{
    width:100%;
    display: block;
    // margin-top: 10px;
    border-top: 20px solid #F7F7F7;
}
