// .am-tab-bar-item{
//     background: #ddd;
// }
.am-card-footer-extra{
    text-align: center;
}
.content-tab{
    float: left;
    width: 50%;
    font-size: 1.5rem;
}
.am-tabs.am-tabs-horizontal.am-tabs-top{
    background: #FAFAFA;
}
// .am-tabs-content-wrap{
//     margin-top: 1rem;
// }
#business{
    margin-top: 1rem;
}