
#root{
    height:100%;
    width:100%;
    background: url('../images/20200417194932_rzyoy.jpeg') no-repeat 0 0;
    background-size: cover;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginApp{
    background-color: rgba(240, 242, 245,0.3);
    .ant-layout{
        margin-top: 30px;
        margin-left: 20px;
        width:500px;
        background-color: rgba(240, 242, 245,0)
    }
    
}
.sea{
    margin-left: 165px;
    font-size: 10px;
}
.ant-form-item-control{
    width:150px;
}


